<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre de usuario:</strong>
  <%= @user.username %> <br>
  <strong>Email:</strong>
  <%= @user.email %> <br>
  <strong>Fecha de nacimiento:</strong>
  <%= @user.birth_date %> <br>
  <strong>Nivel Respueston:</strong>
  <%= @user.nivel_respueston %> <br>
  <strong>Nivel Publicon:</strong>
  <%= @user.nivel_publicon %> <br>
  <strong>Avatar:</strong>
  <% if @user.avatar.attached? %>
    <%= image_tag @user.avatar.variant(resize_to_limit: [100, 100]) %>
  <% else %>
    No hay avatar
  <% end %>
</p>

<%= link_to 'Volver', users_path %>
<% if session[:user_id] == @user.id %>
  | <%= link_to 'Editar', edit_user_path(@user) %> |
  <%= link_to 'Borrar', @user, method: :delete, data: { confirm: 'Seguro que quieres borrar?' } %>
<% end %>
