<% if @post.locked %>
<h2>Post cerrado</h2>
<% else %>
<h2>Crear respuesta:</h2>
<%= form_with(model: [@section, @post, @post.replies.build], local: true) do |form| %>
  <p>
    <%= form.label :message %>
    <%= form.text_field :message %>
  </p>

  <div class="field">
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="field">
    <%= form.hidden_field :section_id, value: @post.section_id %>
  </div>

  <p>
    <%= form.submit %>
  </p>
<% end %>
<% end %>

<div class="img" align="center">
  <% if @post.image.attached? %>
    <td><%= image_tag @post.image %></td>
  <% end %>
  </div>

<table border="1" >
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Mensaje</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @user = User.find(params[:id] = @post.user_id) %>
    <tr>
      <td><%= @user.username %></td>
      <td><%= @post.date_created %></td>
      <td><%= @post.time_created.strftime("%H:%M:%S") %></td>
    </tr>
    <% if @user.avatar.attached? %>
      <td><%= image_tag @user.avatar.variant(resize_to_limit: [50, 50]) %></td>
    <% end %>
    <td><b> Respueston: </b> <br> <%= @user.nivel_respueston %></td>
    <td><b> Publicon: </b><br> <%= @user.nivel_publicon %></td>
    <td><%= @post.message %></td>
  </tbody>

  <tbody>
    <% @post.replies.each do |reply| %>
      <% if reply.message != nil %>
        <% user = User.find(reply.user_id) %>
        <tr>
          <td><%= user.username %></td>
          <td><%= @post.date_created %></td>
          <td><%= @post.time_created.strftime("%H:%M:%S") %></td>
        </tr>
        <% if user.avatar.attached? %>
          <td><%= image_tag user.avatar.variant(resize_to_limit: [50, 50]) %></td>
        <% end %>
        <td><b> Respueston: </b><br> <%= user.nivel_respueston %></td>
        <td><b> Publicon: </b><br> <%= user.nivel_publicon %></td>
        <td><%= reply.message %></td>
        <% if session[:user_id] == reply.user_id or Admin.where("section_id = ? AND user_id = ?", params[:section_id], session[:user_id]).present? %>
          <td>
            <%= link_to 'Borrar', [reply.section, reply.post, reply],
            method: :delete,
            data: { confirm: 'Seguro?' } %>
          </td>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>

<td><%= link_to 'Volver', section_path(@section) %></td>
<% if session[:user_id] == @post.user_id or Admin.where("section_id = ? AND user_id = ?", params[:section_id], session[:user_id]).present? %>
  | <td><%= link_to 'Destruir post',  [@post.section, @post], method: :delete, data: { confirm: 'Seguro que quieres borrar el post? Todas las respuestas tambien seran eliminadas.'  } %></td>
<% end %>

<% if Admin.where("section_id = ? AND user_id = ?", params[:section_id], session[:user_id]).present? and !@post.locked %>
  | <td><%= link_to 'Dejar inactivo', section_post_path(@section, @post, :locked => true), method: :put, data: { confirm: "Are you sure?" } %></td>
<% end %>
